h1 {
    font-family: cursive;
    text-align: center;
    font-size: 65px;
    color: gainsboro;
}

body {
    background: url(./../images/210888.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* I want to make the background non-scrollable */
}

#clear-result {
    width: 10em;
}

form {
    display: flex;
    align-items: center;
}

.recent-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.giphy-content {
    column-count: 4 ;
}

.giphy {
    border: 1px solid black;
    border-radius: 15px;
    border-bottom: 5px solid black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    page-break-inside: avoid;
    position: relative;
    background-color: rgb(17, 17, 90);
    box-shadow: 5px 5px 15px rgb(77, 31, 31);
    color: gainsboro;
    font-family: cursive
}

.giphy img {
    width: 100%;
    height: 100%;
}

.fa-play {
    font-size: 50px;
    background-color: rgb(17, 17, 90);
    padding: 5px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-30%, 0);
    opacity: 0;
    cursor: pointer; 
    
}

.favorite {
    position: absolute;
    cursor: pointer;
    background-color: rgb(17, 17, 90);
    padding: 7px;
}


.giphy-image:hover .img-play {
    opacity: 5;
}

.giphy-info {
    display: flex;
    justify-content: space-between;
    margin: 2em .5em;
}

.giphy-footer {
    text-align: center;
    border: 1px solid lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

.active {
    background-color: rgb(17, 17, 90);
    
}

#submit-button, #clear-result {
    background-color: rgb(17, 17, 90);
    margin-left: 5px;
    border: 1px solid black;
}

.btn {
    color: gainsboro;
    font-family: cursive;
}

.form-check-label {
    color: yellowgreen;
    font-family: cursive;
}
